<?xml version='1.0' encoding='UTF-8'?>

<module xmlns="urn:jboss:module:1.1" name="hs-plugin-keycloak-ejb">

    <resources>
        <resource-root path="hs-plugin-keycloak-ejb-0.2-SNAPSHOT.jar"/>
    </resources>

    <dependencies>
        <module name="org.keycloak.keycloak-common"/>
        <module name="org.keycloak.keycloak-core"/>
        <module name="org.keycloak.keycloak-services"/>
        <module name="org.keycloak.keycloak-model-jpa"/>
        <module name="org.keycloak.keycloak-server-spi"/>
        <module name="org.keycloak.keycloak-server-spi-private"/>
        <module name="javax.ws.rs.api"/>
        <module name="javax.persistence.api"/>
        <module name="org.hibernate"/>
        <module name="org.javassist"/>
        <module name="org.liquibase"/>
        <module name="com.fasterxml.jackson.core.jackson-core"/>
        <module name="com.fasterxml.jackson.core.jackson-databind"/>
        <module name="com.fasterxml.jackson.core.jackson-annotations"/>
        <module name="org.jboss.resteasy.resteasy-jaxrs"/>
        <module name="org.jboss.logging"/>
        <module name="org.apache.httpcomponents"/>
        <module name="org.apache.commons.codec"/>
        <module name="org.keycloak.keycloak-wildfly-adduser"/>
    </dependencies>
</module>